html, body {
  height: 100%;
  margin: 0;
}

section {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    color: #ff1510;
    height: 50px;

}

header {
    font-family: sans-serif;
    text-align: center;

}

p {
    color: #404040;
}

input {
    margin-block-end: 30px;
}


.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 4px;
    row-gap: 20px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 24px;

    place-items: center;

    background-color: #e7f6e7;

}


footer {
    background-color: #ff1510;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    
}

