html, body {
  height: 100%;
  margin: 0;
}

section {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    color: #ff1510;
    height: 50px;

}

header {
    font-family: sans-serif;
    text-align: center;

}

p {
    color: #404040;
}

input {
    margin-block-end: 30px;
    background-color:rgb(255, 206, 197);
    border-radius: 10px;
    height: 20px;
    border-color: transparent;
    color:rgb(236, 8, 8);
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 4px;
    row-gap: 20px;

}

.card {
    background-color: #fdecec;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: center;
    width: 80%;
    font-family: sans-serif;

}

.card img {
    width: 100%;
    border-radius: 16px;
}


footer {
    background-color: #ff1510;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    
}

/* HEROES_DETAILS  */

.details {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.details-content {
    display: flex;
    gap: 40px;
    max-width: 900px;
    align-items: center;
}

.details-content .text {
    max-width: 500px;
}

.details-content h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.details-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 24px;
    color: #333;
}

.details-content .image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}


.details .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c4161c; 
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.details .btn:hover {
    opacity: 0.85;
}
